@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
:root{
    --color--principal: #9e6730;
    --color--secundario: #f8c894;
    --color--terceario: #532a00;
    --color--cuarto: #615e5b;
    --color--fondo: #f3dbc3;
}
body{
    margin: 0;
    background-image: url("background.png");
    box-sizing: border-box;
    font-family: "Rosario", sans-serif;
}

h4{
    display: flex;
    margin: 40px;
    gap: 100px;
    line-height: 25px;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header h1{
    font-weight: 600;
    font-family: "cinzel decorative";
    color: var(--color--secundario);
}

.header-title-container{
    display: flex;
    justify-content: center;
    background-color: #532a00aa;
    border: var(--color--cuarto) 2px solid;
    border-radius: 5px;
    margin: 2%;
    margin-top: 30%;
}

.menu{
    margin: 1%;
}

.menu a{
    text-decoration: none;
    color: var(--color--secundario);
    align-items: center;
}

/*------------------ nav-----------------*/
nav{
    background: var(--color--principal);
    display: flex;
    justify-content: center;
    position: relative;
    width: 95%;
    border-radius: 10px;
    border: 1px black solid;
    position: fixed;
    top: 2%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    padding: 0;
    width: 100%;
    align-items: center;
}

nav li{
    width: 20%;
    text-align: center;
    font-weight: 800;
}
/*--------------------- main-------------------*/

section{
    display: flex;
    margin: 40px 0;
    padding-bottom: 40px;
    border: 1px black solid;
}

.introduction-container{
    background: var(--color--principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.desc-container{
    background: var(--color--secundario);
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: justify;
    border-radius: 5px;
}